<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>影匠</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/faqstyle.css" type="text/css" media="all" />
    <link href="/static/css/single.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/medile.css" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="/static/css/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="/static/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="/static/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="/static/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items : 5,
                itemsDesktop : [640,4],
                itemsDesktopSmall : [414,3]

            });

        });
    </script>
    <script type="text/javascript" src="/static/js/move-top.js"></script>
    <script type="text/javascript" src="/static/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
<style type="text/css">
    .navbar-header .navbar-collapse .navbar-right{
        position: relative;
        float: right;
        margin: auto;
    }
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
              <div class="form-group input-group">
                  <input type="text" class="form-control" placeholder="输入视频名称">
                  <span class="input-group-btn"><a class="btn btn-default"><span class="glyphicon glyphicon-search"></span>搜索</a></span>
              </div>
          </form>
          <ul class="nav navbar-nav navbar-right" id="rigeht-display">
              <li>
                 <a href="#">注册</a>
              </li>
              <li>
                  <a href="login.html">登录</a>
              </li>
              <li class="dropdown th:if">
                  <a href="#" class="dropdown-toggle" data-target="dropdown" role="button"
                     aria-haspopup="true" aria-expanded="false">我<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#">个人资料</a></li>
                      <li><a href="#">退出登录</a></li>
                  </ul>
              </li>
          </ul>
      </div>
    </div>
</nav>
</body>
</html>